body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.section-details {
    height: 700px;
    text-align: center;
    display: grid;
    margin: auto;

}

#top-banner {
    background: linear-gradient(#0000003b, #000000c7), url(../images/donation9.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

#top-banner h1 {
    color: whitesmoke;
    font-weight: 400;
    font-size: 55px;
    width: 630px;
    margin: auto;
    margin-top: 130px;
}

#top-banner p {
    color: #ddd;
    width: 625px;
    margin: auto;
    margin-top: 30px;
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;

}

.donation-button {
    padding: 10px 35px;
    color: white;
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 800;
}

#donation-box h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 70px 0px 0px 0px;
}

#donation-box p {
    color: gray;
    font-size: 18px;
    width: 530px;
    line-height: 30px;
    margin: auto;
    padding-bottom: 30px;
}

.donation-amount {
    width: 820px;
    overflow: hidden;
    margin: auto;
}

.donation-amount span {
    width: 140px;
    margin: 30px 10px;
    display: block;
    float: left;
    font-size: 30px;
    line-height: 110px;
    color: gray;
    font-weight: 600;

}

#special-span {
    color: tomato;
    border: 2px solid tomato;
    border-radius: 4px;
}

#donation-custom-amount input {
    border-bottom: 2px solid #d7d7d7f7;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 15px 220px;
    font-size: 18px;
    text-align: center;
    color: #d7d7d7f7;
    margin-bottom: 50px;
}

#donation-plan {
    width: 1180px;
    overflow: hidden;
    margin: auto;
}

.donation-summary h1 {
    font-size: 45px;
    font-weight: bold;

}

.donation-summary p {
    color: gray;
    font-size: 18px;
    width: 530px;
    margin: auto;
    line-height: 25px;
    margin-bottom: 30px;
}

.donation-details {
    width: 320px;
    text-align: left;
    padding: 30px 20px;
    margin: 30px 15px;
    display: block;
    float: left;

}

.donation-details p {
    color: gray;
    font-size: 18px;
    width: 300px;
    margin: 30px 0px;
}

.special-box {
    background-color: rgb(255 254 211);
}

.half-width {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}

.left-content {
    display: block;
    float: left;
    width: 40%;
    margin: 40px 50px;
}

.left-content img {
    width: 100%;
}

.right-content {
    display: block;
    float: left;
    width: 40%;
    margin: 30px 10px;
    text-align: left;
}

.right-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.right-content p {
    color: gray;
    font-size: 18px;
    line-height: 25px;
}

#update-email {
    overflow: hidden;
}

.update-text {
    width: 400px;
    margin: auto;
}

.update-text h1 {
    font-size: 45px;
    font-weight: bold;
}

.update-text p {
    font-size: 18px;
    color: gray;
    line-height: 25px;
    width: 420px;
    margin-bottom: 50px;
}

.update-email {
    width: 700px;
    height: 170px;
    margin: auto;
    line-height: 170px;
    background-color: rgb(255 254 211);
}

.update-email input {
    padding: 10px 40px 10px 5px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #dbdbdb;
    border-radius: 5px 0px 0px 5px;
    background-color: #dbdbdb;

}

.update-email button {
    padding: 10px 20px;
    color: white;
    background-color: tomato;
    border: 2px solid tomato;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
    font-weight: bold;
    margin-left: -5px;

}